<%= content_for(:page_title) { t(".title") } %>
<%= content_for(:page_description) { t(".description") } %>

<h2>
  <%= l(@date, format: "%B del %Y").capitalize %>
</h2>

<article class="metrics">
  <hgroup>
    <h5>
      <%= t("metrics.today_summary.title") %>
    </h5>
    <p><%= t("metrics.today_summary.description") %></p>
  </hgroup>

  <div class="metric__body">
    <hgroup class="metric">
      <h6><%= Transaction.model_name.human(count: 2) %></h6>
      <p><%= @collection.count %></p>
    </hgroup>

    <hgroup class="metric">
      <h6><%= t(:profit) %>
        (CLP)</h6>
      <p><%= @transactions_profit %></p>
    </hgroup>
  </div>
</article>

<article>
  <hgroup class="metric">
    <h5>
      <%= t("metrics.index.transactions_per_day") %>
    </h5>
    <small>En promedio ~<%= @transactions_per_day_avg %>
      al día</small>
  </hgroup>

  <%= line_chart @transactions_per_day %>
</article>

<article>
  <hgroup class="metric">
    <h6>
      <%= t("metrics.index.profit_per_day") %>
    </h6>
    <p><%= @profit_per_day %></p>
  </hgroup>

  <%= line_chart @collection.group(:created_at).sum(:profit) %>
</article>
