<%= form_with model: [:madmin, record], url: new_madmin_transaction_path, method: :get, html: {data: {controller: "auto-submit transaction-form"}} do |form| %>
  <div class="form-group">
    <%= form.hidden_field :sender_type, value: "Bank" %>
    <%= form.label :sender_id %>
    <%= form.select :sender_id,
                Bank.all.map { |bank| [bank.display_name, bank.id] },
                { prompt: true },
                { data: { controller: "select", action: "auto-submit#submit" } } %>
  </div>
<% end %>

<%= form_with model: [:madmin, record], url: (record.persisted? ? resource.show_path(record) : resource.index_path), local: true, html: {data: {controller: " transaction-form"}} do |form| %>
  <% if form.object.errors.any? %>
    <%= render "shared/form_errors", form: %>
  <% end %>

  <div class="form-group">
    <%= form.hidden_field :sender_type, value: @sender.class.name %>
    <%= form.hidden_field :sender_id, value: @sender.try(:id) %>
    <%= form.hidden_field :receiver_type, value: "Customer" %>
  </div>

  <% resource.attributes.values.select{ _1.field.present? && _1.field.visible?(action_name) }.each do |attribute| %>
    <% next if [:source_currency, :target_currency, :amount, :sender_type, :receiver_type, :sender_id ].include?(attribute.field.attribute_name) %>

    <div class="form-group">
      <%= render "madmin/shared/label", form: form, field: attribute.field %>
      <%= render partial: attribute.field.to_partial_path("form"),
      locals: {
        field: attribute.field,
        record: record,
        form: form,
        resource: resource,
      } %>
      <%= if attribute.field.options.description.present?
        tag.div attribute.field.options.description, class: "form-description"
      end %>
    </div>
  <% end %>

  <div class="form-group-currency">
    <div class="form-group">
      <%= form.label :amount %>
      <%= form.text_field :amount,
                      class: "form-input",
                      value: money_value(record.send(:amount)),
                      data: {
                        transaction_form_target: "amount",
                        controller: "number-input",
                        action: "transaction-form#calculate",
                      } %>
    </div>

    <div class="form-group">
      <%= form.label :source_currency %>
      <%= form.select :source_currency,
                  Rails.application.config.available_currencies,
                  { prompt: true },
                  { data: { controller: "select" }, class: "form-input" } %>
    </div>

    <div class="form-group">
      <% target_currency = form.object.target_currency || @sender.try(:currency) %>
      <%= form.hidden_field :target_currency, value: target_currency %>
      <%= form.label :target_currency %>
      <%= form.select :target_currency,
                  [target_currency],
                  { prompt: true, selected: target_currency },
                  {
                    disabled: true,
                    data: {
                      controller: "select",
                    },
                    class: "form-input",
                  } %>
    </div>
  </div>

  <%= turbo_frame_tag dom_id(record, :totals), data: {transaction_form_frame_target: "summary"} do %>
    <%= render "summary", form: %>
  <% end %>

  <%= form.submit class: "btn btn-primary" %>
  <%= link_to "Cancel",
  (record.persisted? ? resource.show_path(record) : resource.index_path),
  class: "btn" %>
<% end %>
