<div class="card">
  <div class="card-body bg-base-100">
    <%= render "shared/form_errors", errors: transaction.errors.full_messages %>

    <%= transaction.bank_balance_transactions.inspect %>

    <%= simple_form_for transaction, html: {class: "card", data: {turbo: false}} do |f| %>
      <%= f.input :sender_id,
              collection:
                [Bank.ves_default].map { |bank| [bank.display_name, bank.id] },
              prompt: t("select_bank") %>

      <%= f.input :receiver_id,
              collection:
                Customer.all.map { |customer| [customer.name, customer.id] },
              prompt: :translate %>

      <div>
        <%= f.hidden_field :sender_type, value: "Bank" %>
        <%= f.hidden_field :receiver_type, value: "Customer" %>
        <%= f.hidden_field :target_currency,
                       value: f.object.target_currency || current_exchange_rate.target %>

        <%= f.hidden_field :source_currency,
                       value: f.object.source_currency || current_exchange_rate.source %>
      </div>

      <fieldset class="fieldset">
        <legend class="fieldset-legend"><%= f.object.class.human_attribute_name(:amount) %></legend>
        <div class="input w-full">
          <%= dollar_sign %>
          <%= f.text_field :amount,
                       value: money_as_value(transaction.send(:amount)),
                       class: "grow",
                       placeholder: "0.00",
                       data: {
                         transaction_form_target: "amount",
                         controller: "number-input",
                         action: "transaction-form#calculate",
                       } %>
          <span class="w-8">
            <%= render_currency_flag(current_exchange_rate.source) %>
          </span>

        </div>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend"><%= Transaction.human_attribute_name(:rate) %></legend>
        <div class="input w-full">
          <%= dollar_sign %>
          <%= f.text_field :rate,
                       value: money_as_value(f.object.rate),
                       class: "grow",
                       data: {
                         controller: "number-input",
                       } %>

          <span class="w-8">
            <%= render_currency_flag(current_exchange_rate.target) %>
          </span>
        </div>
      </fieldset>

      <div class="card-actions justify-end mt-4">
        <%= turbo_submit(f) %>
      </div>
      <% if transaction.bank_balances.present? %>
        <%= render "summary" %>
      <% end %>
    <% end %>

  </div>
</div>

<%= turbo_frame_tag :summary_transaction %>
