<table class="table table--compact">
  <tbody>
    <tr>
      <th><%= form.object.class.human_attribute_name(:rate) %></th>
      <td class="text-right">
        <%= form.text_field :rate,
                        value: money_as_value(form.object.rate),
                        class: "input input--underline text-right",
                        data: {
                          transaction_form_target: "rate",
                          controller: "number-input",
                          action: "transaction-form#calculate",
                        } %>

      </td>
    </tr>

    <tr>
      <th><%= form.object.class.human_attribute_name(:cost_rate) %></th>
      <td class="text-right">
        <%= form.text_field :cost_rate,
                        value: money_as_value(form.object.cost_rate),
                        class: "input input--underline text-right",
                        data: {
                          transaction_form_target: "costRate",
                          controller: "number-input",
                          action: "transaction-form#calculate",
                        } %>
      </td>
    </tr>

    <tr>
      <th><%= Transaction.human_attribute_name(:profit) %></th>
      <td class="text-right">

        <%= form.text_field :profit,
                        value: money_as_value(form.object.profit),
                        class: "input input--underline text-right",
                        readonly: true,
                        data: {
                          transaction_form_target: "profit",
                          controller: "number-input",
                        } %>

      </td>
    </tr>
  </tbody>
</table>
