<%= content_for :page_title do %>
  <%= t(".title") %>
<% end %>

<%= content_for :page_description do %>
  <%= t(".description") %>
<% end %>

<%= content_for :page_actions do %>
  <%= form_with(url: [:transactions], method: :get, html: {class: "search-form", data: {controller: "auto-submit"}}) do |f| %>
    <%= f.date_field :by_range,
                 data: {
                   controller: "date-picker",
                   date_picker_default_date_value:
                     @date_range.map { |date| date.strftime("%d/%m/%Y") },
                 } %>
    <%= f.search_field :q,
                   class: "mb-0",
                   value: params[:q],
                   placeholder: t(".search", default: t("search")) %>
  <% end %>

  <%= icon_link t("new"), %i[new transaction], icon: "plus", role: :button %>
<% end %>

<div class="metrics">
  <article class="metric">
    <h6>
      <%= Transaction.human_attribute_name(:total) %>
      (<%= current_exchange_rate.target %>)
    </h6>
    <p><%= @total %></p>
  </article>
  <article class="metric">
    <h6>
      <%= Transaction.human_attribute_name(:amount) %>
      (<%= current_exchange_rate.source %>)
    </h6>
    <p><%= @total_amount %></p>
  </article>

  <article class="metric">
    <h6>
      <%= Transaction.human_attribute_name(:profit) %>
      (<%= current_exchange_rate.source %>)
    </h6>
    <p><%= @total_profit %></p>
  </article>
</div>

<%= render "list", transactions: @collection %>
