<%= content_for :page_title do %>
  <%= t(".title") %>
<% end %>

<%= content_for :page_actions do %>
<% end %>

<div class="stats shadow bg-base-100 w-full mb-6">
  <div class="stat">
    <div class="stat-title">
      <%= Transaction.human_attribute_name(:total) %>
      (<%= current_exchange_rate.target %>)
    </div>
    <p class="stat-value"><%= @total %></p>
  </div>

  <div class="stat">
    <h6 class="text-sm font-medium text-base-content/70 mb-1">
      <%= Transaction.human_attribute_name(:amount) %>
      (<%= current_exchange_rate.source %>)
    </h6>
    <p class="stat-value"><%= @total_amount %></p>
  </div>

  <div class="stat">
    <h6 class="text-sm font-medium text-base-content/70 mb-1">
      <%= Transaction.human_attribute_name(:profit) %>
      (<%= current_exchange_rate.source %>)
    </h6>
    <p class="stat-value"><%= @total_profit %></p>
  </div>
</div>

<%= render "list", transactions: @collection %>
