<%= turbo_frame_tag "summary_transaction" do %>
  <table class="table">
    <tr>
      <th>Total</th>
      <td><%= @transaction.total %></td>
    </tr>
    <tr>
      <th>Profit</th>
      <td><%= @transaction.profit %></td>
    </tr>

    <tr>
      <th>Bank Balances</th>
      <td>
        <% @transaction.bank_balances.each do |bank_balance| %>
          <%= bank_balance.display_name %>
          -
          <%= bank_balance.balance %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
